<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>update</title>
    </head>

    <body>
        <h1 align="center">UPDATE</h1>

        <Center>
            <form method="post" action="">
            <h2 align="center">ID : <input type="text" name="fieldForm"> <input type="submit" value="Research"></h2>
            </form>
    
            
            <form method="post" action="">
            <h2 align="center">Student Name : <input type="text" name="fieldForm"> <input type="text" name="fieldForm"></h2>
            </form>

            <form method="post" action="">
            <h2 align="center">Course : <input type="text" name="fieldForm"> <input type="text" name="fieldForm"></h2>
            </form>

            <form method="post" action="">
            <h2 align="center">Fee : <input type="text" name="fieldForm"> <input type="text" name="fieldForm"></h2>
            </form>

            <form method="post" action="">
            <input type="submit" value="Update">
            </form>
        </Center>

    </body>
</html>

